/* print.css*/
@media print {
  .youtubeVideo, .personal-video, footer, title, header, nav{
     display: none;
   }
   .one{
     grid-column: 0/0;
     grid-row: 0/0;
   }
   .two{
     grid-column: 1/4;
     grid-row: 1/2;
   }
   .four{
     grid-column: 0/0;
     grid-row: 0/0;
   }
   .five{
     grid-column: 1/4;
     grid-row: 4/5;
   }
   h1, h3, h4{
     font-family: serif;
     width: 100%;
     text-align: right;
   }
   p{
     font-size: 12pt;
     font-family: serif;
     text-align: right;
   }
   a[href^="htpp:"]::after {
     content: " [" attr(href) "]";
     color:blue;
   }
   .flex-container{
     display: block;
     margin-left: 50%;
     padding-left: 5%;
   }
   .flex-container img{
     width: 95%;
     height: 50%;
     margin-left: 10%;
   }
   .flex-container .movieList{
     margin-left: 4em;
     margin-bottom: 2em;
     margin-top: 2em;
   }
   .flex-container .movieList li{
     width: 20em;
   }
   .GhiblisHistory .movie-info td, th{
     text-align: right;
   }
   .GhiblisHistory .movie-info{
     margin-left: 30%;
     page-break-before: avoid;
   }
   @page{
    margin:2cm;
   }
}
/*
@media only print and (min-width: 280px){
  .GhiblisHistory .movie-info{
    font-size: 9pt;
  }
  .GhiblisHistory .movie-info td, th{
    padding-right: 0.1em;
  }
  .flex-container{
    flex-wrap: wrap;
  }
  .flex-container > div {
    padding: 1em;
  }
  .flex-container img{
    width: 90%;
    height: 90%;
    padding-left: 3em;
  }
  .flex-container .movieList li{
    width: 9em;
    font-size: 12pt;
  }
  .flex-container .movieList{
    padding-left: 2em;
  }
  h1{
    padding-left: 1.5em;
  }
  h3{
    padding-left: 4em;
  }
  h4{
    font-size: 14pt;
    padding-left: 6em;
  }
  p{
    width: 20em;
    text-align: right;
    font-family: serif;
    font-size: 12pt;
  }
}
@media only print and (min-width: 360px){
  .GhiblisHistory .movie-info{
    font-size: 10pt;
  }
  .GhiblisHistory .movie-info td, th{
    padding: 0;
  }
  .flex-container{
    flex-wrap: wrap;
  }
  .flex-container > div {
    padding: 1em;
  }
  .flex-container img{
    width: 90%;
    height: 90%;
    padding-left: 2em;
  }
  .flex-container .movieList li{
    width: 9em;
    font-size: 12pt;
  }
  .flex-container .movieList{
    padding-left: 5em;
  }
  h1{
    padding-left: 0.3em;
  }
  h3{
    padding-left: 2em;
  }
  h4{
    padding-left: 10em;
  }
  p{
    text-align: right;
    font-family: serif;
    font-size: 12pt;
    padding-left: 3em;
    width: 17em;
  }
}
@media only print and (min-width: 375px){
  p{
    width: 18em;
  }
  .GhiblisHistory .movie-info td, th{
    padding: 0 0 0 2px;
  }
  h4{
    text-align: right;
    width: 8em;
  }
}
@media only print and (min-width: 390px){
  .GhiblisHistory .movie-info td, th{
    padding: 0 0 0 3px;
  }
  p{
    width: 18em;
  }
}
@media only print and (min-width: 412px){
  .GhiblisHistory .movie-info td, th{
    padding: 0 0 0 6px;
  }
  p{
    width: 20em;
  }
}
@media only print and (min-width: 414px){
  p{
    width: 20em;
  }
  h4{
    width: 9em;
    text-align: right;
  }
}
@media only print and (min-width: 540px){
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .flex-container img{
    width: 300px;
    height: 200px;
    padding-left: 5.5em;
  }
  .GhiblisHistory .movie-info td, th{
    padding-left: 1.8em;
  }
  h4{
    text-align: right;
  }
  p{
    width: 28em;
  }
}
@media only print and (min-width: 717px){
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 6em;
  }
  .GhiblisHistory .movie-info td, th{
    padding-left: 3.5em;
  }
}
@media only print and (min-width: 768px){
  p{
    text-align: right;
    width: 43em;
  }
  .flex-container{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1em;
  }
  .flex-container > div {
    padding: 1px;
  }
  .flex-container img{
    width:100px;
    height:100px;
    padding-left: 1em;
  }
  .flex-container ul{
    padding: 10px;
  }
  .flex-container li{
    padding-left: 5px;
  }
  .flex-container .movieList{
    padding-left: 1em;
    padding-right: 1em;
    order:0;
  }
  .GhiblisHistory .movie-info td, th{
    font-size: 12pt;
    padding: 0 0 0 3em;
  }
  h4{
    text-align: right;
    width: 29em;
  }
}
@media only print and (min-width: 820px){
  .flex-container{
    position:relative;
    display: flex;
    flex-wrap:wrap-reverse;
    padding-left: 9em;
  }
  .flex-container .movieList{
    order: 1;
    padding-left: 13em;
  }
  .flex-container > div {
    padding: 5px;
  }
  .flex-container img{
  }
  p{
    padding-right:0;
    width: 46em;
  }
  h1{
    padding-left: 2em;
  }
  h3{
    padding-left: 7em;
  }
  h4{
    padding-right:0;
    width: 17em;
    text-align: right;
  }
  .GhiblisHistory .movie-info td, th{
    font-size: 12pt;
    padding: 0 0 0 3em;
  }
}
@media print and (min-width: 912px){
  .GhiblisHistory .movie-info td, th{
    font-size: 12pt;
    padding: 0 0 0 3.8em;
  }
  .flex-container{
    padding-left: 7em;
  }
  .flex-container img{
    width: 150px;
    height: 150px;
  }
  h1{
    font-size: 30pt;
    padding-left: 1em;
  }
  h3{
    font-size: 20pt;
    width: 30em;
    padding-left: 2em;
  }
  p{
    width: 52em;
  }
}
@media print and (min-width: 1024px){
    .GhiblisHistory .movie-info{
        width: 60em;
        border-collapse: separate;
    }
    .GhiblisHistory .movie-info td, th{
      font-size: 18pt;
      padding-left: 7em;
    }
    .flex-container{
      display: flex;
      flex-wrap:wrap-reverse;
      width: 100em;
      padding-left: 23em;
    }
    .flex-container img{
      width: 13em;
      height: 13em;
    }
    .flex-container .movieList{
      order: 0;
      padding-left: 4em;
      padding-right: 1em;
    }
    .flex-container .movieList li{
      width: 12em;
      font-size: 18pt;
    }
    p{
      font-size: 19pt;
      text-align: right;
      padding-left: 4em;
      width: 70em;
    }
    h1{
      font-size: 60pt;
      padding-left: 7em;
    }
    h3{
      font-size: 30pt;
      margin-left: 10em;
      width: 28em;
    }
    h4{
      text-align: right;
      width: 38em;
      font-size: 29pt;
    }
}*/
